{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Грамотійка</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">

    <link rel="icon" type="image/x-icon" href="{% static 'pages/images/favicon.ico' %}">
</head>
<body>
<div class="scroll-progress"></div>

{% block content %}
{% endblock %}

<script>
    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if(entry.isIntersecting){
                entry.target.classList.add('visible');
            }
        });
    }, {
        threshold: 0.3
    });

    document.querySelectorAll('.fade-in').forEach(el => observer.observe(el));
</script>

</body>
</html>