{% load static %}

<section class="inside">
    <div class="container">

        <h2>Що всередині каналу</h2>

        <div class="inside-gallery">
            <img src="{% static 'pages/images/post1.JPEG' %}" alt="">
            <img src="{% static 'pages/images/post2.JPEG' %}" alt="">
        </div>

        <ul class="list">
            <li>короткі пости 1–2 хвилини</li>
            <li>пояснення «людською мовою»</li>
            <li>типові помилки з життя</li>
            <li>меми, що запам’ятовуються</li>
        </ul>

    </div>
</section>