{% load static %}

<section class="solution">
    <div class="container solution-grid">

        <div class="solution-text">
            <h2>Я створила «Грамотійку»</h2>

            <p>
                Закритий телеграм-канал з української мови,
                де нема нудних правил, зате є:
            </p>

            <ul class="list good">
                <li>прості пояснення</li>
                <li>живі приклади</li>
                <li>гумор і меми</li>
                <li>фрази з реального життя</li>
            </ul>
        </div>

        <div class="solution-image">
            <img src="{% static 'pages/images/phone.JPEG' %}" alt="Грамотійка">
        </div>

    </div>
</section>